{% extends 'base.html' %}

{% block head %}
    <title>Blog home</title>
{% endblock %}

{% block body %}
 <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Three Levels Of Happiness</h1>
        <p class="lead my-3">The Buddha talked about three different levels of happiness. The first is happiness that can come from pleasant sense experiences.</p>
        <p class="lead mb-0"><a href="https://www.awakin.org/v2/read/view.php?tid=2559" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
  </main>

 <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">The Self Is Not A Thing, But A Process</h1>
        <p class="lead my-3">The body and the mind are constantly changing. Nothing in us is ever really the same from one moment to the next.</p>
        <p class="lead mb-0"><a href="https://www.awakin.org/v2/read/view.php?tid=2484" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
 </main>
 
 <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">You Can't Get There From Here</h1>
        <p class="lead my-3">When you sit down to meditate, you can bring to your practice the notion of the threefold purity.</p>
        <p class="lead mb-0"><a href="https://www.awakin.org/v2/read/view.php?tid=2446" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
  </main>
{% endblock %} 