{% extends 'base.html' %}

{% block head %}
    <title>Blog home</title>
{% endblock %}

{% block body %}

   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="static/css/styleabout.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/235004aab8.js" crossorigin="anonymous"></script>

  
  </head>
  
  <body>
    <div class="main_content">
      <div class="about" id="center_content">
        <h3>Welcome (:</h3>
        <p>About Me.</p>
        <div>
          <p>
            Hello and welcome to my page. There is not much I can disclose, beside that I like to spend most of my time online, and seek new experience each day.
          </p>
        </div>
        <div>
          <p>
            I always work on project, whatever it's about page, Web Development Flask App its All About profit me.
          </p>
        </div>
      </div>
      <div class="skills" id="center_content">
        <p>Skills.</p>
        <ul>
          <li>Computer programming and coding</li>
          <li>Object-oriented programming (OOD)</li>
          <li>Good with Python, JavaScript, C++, Java, ect</li>
          <li>Good communication skills</li>
  
        </ul>
      </div>
    </div>
</body>
{% endblock %} 

